<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-blue-600 text-3xl mb-6">Micro Focus: <span
          class="text-gray-800 font-light tracking tracking-tight">Application Delivery Management</span></h1>
      <h2 class="font-bold tracking-wide text-6xl">Accelerate Your Application Delivery</h1>
        <span class="content__container block font-bold tracking-wide text-blue-600 text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">Project Portfolio Management</li>
            <li class="content__container__list__item xl:pl-3">Quality Center</li>
            <li class="content__container__list__item xl:pl-3">Octane</li>
            <li class="content__container__list__item xl:pl-3">UFT</li>
            <li class="content__container__list__item xl:pl-3">Load Runner</li>
            <li class="content__container__list__item xl:pl-3">Silk</li>
            <li class="content__container__list__item xl:pl-3">Deployment Automation</li>
          </ul>
        </span>
        <p class="font-light tracking-wide text-2xl">...Deliver at high speed with low risk</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/undraw_Friends_online_re_r7pq.svg" alt="image header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-blue-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">More Information</a>
</div>